<%- include("partials/header") %>
  <header class="header">
  <!-- $ Elementet <header> används för bättre semantik $ -->
    <h1 class="header__heading--homepage">
      Articles
    </h1>
  </header>
  <main class="main">

    
    <div>
      These are the new articles
      <span><%= articles %></span>
      <span><%= articles[0]['name'] %></span>
      <div>the article name is <%= articles.url %></div>
    </div>
    

    <video autoplay muted loop class="myVideo">
      <source src="beach-walk-in-v4.mp4" type="video/mp4">
    </video>
  </main>
<%- include("partials/footer") %>